@import 'mobile';
@import 'var';
@import 'text';

*{
    margin: 0;
    padding: 0;
a{
    text-decoration: none;
}
li{
    list-style: none;
}
}
.wrapper{
    min-width: 320px;
    min-height: 830px;
    background-image: url("../../img/bg/Главная.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
}
.header{
    height: 110px;
    display: flex;

.logo{
    width: 50%;
}    
.menu{
    width: 50%;
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
&_number{
    display: block;
}
}
}
.info{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    &_anima{
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &_anima_large{
        position: absolute;
        top: 30%;
        left: 50%;
        animation: rotate-left 6s linear infinite;
    }
    &_anima_medium{
        position: absolute;
        top: 50%;
        left: 36%;
        animation: rotate-right 6s linear infinite;
    }
    &_anima_small{
        position: absolute;
        top: 38%;
        left: 25%;
        animation: rotate-left 6s linear infinite;
    
}
@keyframes rotate-right{
    from{
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes rotate-left{
    from{
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(-360deg);
    }
}
&_udiv{
    h2{
        font-family: 'OrchideaPro-Medium', sans-serif;
        font-weight: normal;
    }
    p{        
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
    }
}
}
.footer{
    color: #7B7B7B;
    text-align: center;
    a{
        color: #7B7B7B;
    }
    &_adress{
        padding: 50px 0 0 0;
    }
    &_adress_number{
        margin: 0 0 10px 0;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    &_adress_schedule{
        margin: 0 0 50px 0;
        font-size: 14px;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        li{
            list-style: url(../../img/logo/dott.svg);
        }
    }
    &_mail{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
}