<template>
  <div class="wrapper">
    <div class="container">
      <header class="header">
        <div class="logo">
          <a class="logo_universoft" href=""
            ><img src="../../public/img/logo/BUTTON.svg" alt=""
          /></a>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a class="menu_telegramm" href="https://t.me/universoftituz" target="_blank"
                ><img src="../../public/img/logo/tg.png" alt=""
              /></a>
            </li>
            <li>
              <a
                class="menu_instagramm"
                href="https://www.instagram.com/universoftit.uz/"
                target="_blank"
                ><img src="../../public/img/logo/inst.png" alt=""
              /></a>
            </li>
            <li>
              <div class="menu_number">
                <div><a href="tel:+998998999191">+998 (99) 899 91 91</a></div>
                <div>
                  <ol>
                    <li>Время работы Пн-Пт 9:00-18:00</li>
                  </ol>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <section class="info">
      <div class="info_anima">
        <svg
          class="info_anima_small"
          width="51"
          height="51"
          viewBox="0 0 65 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.3833 62.2404L29.0107 63.3736C30.744 63.7236 32.4605 62.7076 32.9973 61.0183L34.0231 57.8422C36.2921 57.7193 38.5297 57.2778 40.6873 56.5449L42.8971 59.1578C44.035 60.5099 46.0148 60.7873 47.4838 59.8125L52.2589 56.6041C53.721 55.6172 54.2357 53.6842 53.4311 52.0992L51.889 49.052C53.4322 47.2844 54.7244 45.32 55.7238 43.1982L59.1866 43.4847C60.9493 43.6266 62.5337 42.4279 62.8814 40.6836L63.994 34.9962C64.3419 33.2518 63.3323 31.5246 61.6537 30.9842L58.1314 29.8352C57.946 27.6694 57.4926 25.5353 56.7815 23.4825L59.5949 21.0743C60.9385 19.9292 61.2142 17.9369 60.2456 16.4588L57.0572 11.6536C56.0765 10.1823 54.1557 9.6643 52.5806 10.474L49.0947 12.2637C47.5724 10.9649 45.9023 9.85981 44.1155 8.94777L44.4368 4.97892C44.5779 3.20527 43.3866 1.61082 41.6533 1.26073L36.026 0.1276C34.2924 -0.222357 32.5762 0.793576 32.0391 2.48297L30.8247 6.24346C28.7557 6.38346 26.709 6.767 24.7411 7.41073L22.1512 4.33685C21.0133 2.98476 19.0335 2.70738 17.5647 3.68203L12.7897 6.89045C11.3276 7.87737 10.8128 9.81018 11.6175 11.3953L13.3624 14.842C11.8899 16.5064 10.6428 18.3498 9.64383 20.3272L5.8686 20.0221C4.10607 19.8802 2.52174 21.0788 2.17378 22.8233L1.04775 28.4861C0.700038 30.2304 1.70967 31.9576 3.38829 32.4979L6.92273 33.6402C7.06001 35.8352 7.47047 38.0067 8.16423 40.0852L5.45932 42.4013C4.11571 43.5464 3.84007 45.5386 4.80868 47.0168L7.99699 51.822C8.97773 53.2933 10.8985 53.8113 12.4736 53.0016L15.5871 51.4025C17.1979 52.839 18.9844 54.0625 20.9033 55.0434L20.6175 58.4968C20.4518 60.2838 21.6498 61.8905 23.3833 62.2404ZM26.3008 22.6198C31.4579 19.1514 38.461 20.5612 41.8952 25.7576C45.342 30.9472 43.9408 37.9944 38.7771 41.4503C33.6199 44.9187 26.6169 43.5089 23.1827 38.3125C19.7358 33.1227 21.1371 26.0757 26.3008 22.6198Z"
            fill="url(#paint0_linear_203_1140)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_203_1140"
              x1="65.8315"
              y1="49.6486"
              x2="22.4331"
              y2="-28.592"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#243554" />
              <stop offset="1" stop-color="#2476FD" />
            </linearGradient>
          </defs>
        </svg>
        <svg
          class="info_anima_medium"
          width="63"
          height="63"
          viewBox="0 0 65 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.3833 62.2404L29.0107 63.3736C30.744 63.7236 32.4605 62.7076 32.9973 61.0183L34.0231 57.8422C36.2921 57.7193 38.5297 57.2778 40.6873 56.5449L42.8971 59.1578C44.035 60.5099 46.0148 60.7873 47.4838 59.8125L52.2589 56.6041C53.721 55.6172 54.2357 53.6842 53.4311 52.0992L51.889 49.052C53.4322 47.2844 54.7244 45.32 55.7238 43.1982L59.1866 43.4847C60.9493 43.6266 62.5337 42.4279 62.8814 40.6836L63.994 34.9962C64.3419 33.2518 63.3323 31.5246 61.6537 30.9842L58.1314 29.8352C57.946 27.6694 57.4926 25.5353 56.7815 23.4825L59.5949 21.0743C60.9385 19.9292 61.2142 17.9369 60.2456 16.4588L57.0572 11.6536C56.0765 10.1823 54.1557 9.6643 52.5806 10.474L49.0947 12.2637C47.5724 10.9649 45.9023 9.85981 44.1155 8.94777L44.4368 4.97892C44.5779 3.20527 43.3866 1.61082 41.6533 1.26073L36.026 0.1276C34.2924 -0.222357 32.5762 0.793576 32.0391 2.48297L30.8247 6.24346C28.7557 6.38346 26.709 6.767 24.7411 7.41073L22.1512 4.33685C21.0133 2.98476 19.0335 2.70738 17.5647 3.68203L12.7897 6.89045C11.3276 7.87737 10.8128 9.81018 11.6175 11.3953L13.3624 14.842C11.8899 16.5064 10.6428 18.3498 9.64383 20.3272L5.8686 20.0221C4.10607 19.8802 2.52174 21.0788 2.17378 22.8233L1.04775 28.4861C0.700038 30.2304 1.70967 31.9576 3.38829 32.4979L6.92273 33.6402C7.06001 35.8352 7.47047 38.0067 8.16423 40.0852L5.45932 42.4013C4.11571 43.5464 3.84007 45.5386 4.80868 47.0168L7.99699 51.822C8.97773 53.2933 10.8985 53.8113 12.4736 53.0016L15.5871 51.4025C17.1979 52.839 18.9844 54.0625 20.9033 55.0434L20.6175 58.4968C20.4518 60.2838 21.6498 61.8905 23.3833 62.2404ZM26.3008 22.6198C31.4579 19.1514 38.461 20.5612 41.8952 25.7576C45.342 30.9472 43.9408 37.9944 38.7771 41.4503C33.6199 44.9187 26.6169 43.5089 23.1827 38.3125C19.7358 33.1227 21.1371 26.0757 26.3008 22.6198Z"
            fill="url(#paint0_linear_203_1140)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_203_1140"
              x1="65.8315"
              y1="49.6486"
              x2="22.4331"
              y2="-28.592"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#243554" />
              <stop offset="1" stop-color="#2476FD" />
            </linearGradient>
          </defs>
        </svg>
        <svg
          class="info_anima_large"
          width="77"
          height="77"
          viewBox="0 0 78 77"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M60.9088 16.5857C59.1826 14.8561 57.2651 13.3286 55.1954 12.0455L56.1057 6.5983C56.4023 4.81837 55.325 3.11274 53.6164 2.60498L45.6365 0.281664C43.9157 -0.219335 42.1066 0.656338 41.413 2.32065L39.3033 7.37744C36.7702 7.32953 34.2408 7.59382 31.7715 8.16441L28.5566 3.6299C27.5136 2.16112 25.552 1.71373 23.9916 2.57923L16.714 6.61598C15.1536 7.48148 14.4822 9.38953 15.1594 11.061L17.1831 16.0324C15.2205 17.9047 13.5168 20.0173 12.0949 22.3254L6.89535 21.4508C5.12657 21.1524 3.43164 22.2365 2.92706 23.9559L0.618304 31.9861C0.120442 33.7177 0.990503 35.5383 2.64439 36.2363L7.42913 38.2687C7.37434 40.9543 7.64932 43.6326 8.28289 46.2401L4.21862 49.1502C2.75892 50.1998 2.31445 52.1737 3.17453 53.7439L7.18599 61.0675C8.04607 62.6377 9.94204 63.3134 11.6032 62.6319L16.1575 60.7615C17.9724 62.6818 20.0259 64.3418 22.2492 65.7316L21.4505 70.5411C21.1539 72.321 22.2312 74.0266 23.9398 74.5344L31.9008 76.8522C33.6216 77.3532 35.4308 76.4776 36.1244 74.8133L37.9438 70.4453C40.7192 70.5213 43.4798 70.2217 46.1818 69.5546L48.9741 73.4918C50.0171 74.9606 51.9787 75.408 53.539 74.5425L60.8167 70.5057C62.3771 69.6402 63.0486 67.7323 62.3713 66.0607L60.5542 61.5825C62.6118 59.5935 64.3782 57.3342 65.8182 54.8561L70.6353 55.6709C72.4041 55.9693 74.099 54.8852 74.6036 53.1658L76.9124 45.1356C77.4102 43.404 76.5402 41.5834 74.8863 40.8854L70.1272 38.8708C70.1333 36.2124 69.7973 33.5677 69.1217 30.9995L73.3255 27.996C74.7851 26.9465 75.2297 24.9725 74.3696 23.4023L70.3581 16.0788C69.498 14.5086 67.6021 13.8328 65.9409 14.5143L60.9088 16.5857ZM45.3928 51.0228C38.7612 54.7012 30.3842 52.2623 26.7289 45.5889C23.0736 38.9156 25.4972 30.4857 32.1288 26.8073C38.7602 23.129 47.1373 25.5679 50.7927 32.2413C54.448 38.9146 52.0243 47.3445 45.3928 51.0228Z"
            fill="url(#paint0_linear_203_1139)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_203_1139"
              x1="57.3242"
              y1="72.4429"
              x2="19.8474"
              y2="4.87796"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#243554" />
              <stop offset="1" stop-color="#2476FD" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="info_udiv">
        <h2>ГОТОВИМ ДЛЯ ВАС <br />НЕЧТО ОСОБЕННОЕ</h2>
        <p>
          Наш сайт скоро будет доступен<br />
          для всех посетителей!
        </p>
      </div>
    </section>
    <footer class="footer">
      <div class="footer_adress">
        <div class="footer_adress_number">
          <a href="tel:+998998999191">+998 (99) 899 91 91</a>
        </div>
        <div class="footer_adress_schedule">
          <li>Пн - Пт 9:00 -18:00</li>
        </div>
      </div>
      <a class="footer_mail" href="info@universoft.uz">info@universoft.uz</a>
    </footer>
  </div>
</template>

<script></script>

<style>
@import url("../../public/stye_css/css/style.css");
</style>
