<template>
  <error404 />
</template>

<script>
import error404 from "./components/error_404.vue";

export default {
  name: "App",
  components: {
    error404,
  },
};
</script>

<style>
#app {
}
</style>
