@keyframes rotate-right {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotateZ("0");
  }
  to {
    transform: rotateZ("-360deg");
  }
}/*# sourceMappingURL=anima.css.map */