@charset "UTF-8";
/*адаптивная верстка 280-1024*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");
@media (min-width: 280px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  .header {
    padding: 50px 20px 33px 20px;
  }
  .header .logo_universoft img {
    width: 130px;
    height: 25px;
  }
  .header .menu .menu_number {
    display: none;
  }
  .header .menu_telegramm img {
    width: 31px;
    height: 31px;
  }
  .header .menu_instagramm img {
    width: 31px;
    height: 31px;
    margin-left: 15px;
  }
  .info {
    max-width: 280px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .info_anima .info_udiv h2 {
    font-size: 27px;
    margin: 0 0 25px 0;
  }
  .info_anima .info_udiv p {
    font-size: 14px;
    margin: 0 0 13px 0;
  }
  .footer {
    padding: 0 20px;
    height: 200px;
  }
}
/*адаптивная верстка для 1024-1920*/
@media (min-width: 1024px) {
  .wrapper {
    max-width: 100vw;
    margin: 0 auto;
  }
  .header {
    padding: 20px 135px 20px 135px;
  }
  .header .logo_universoft img {
    width: 213px;
    height: 43px;
  }
  .header .menu .menu_number {
    display: block;
  }
  .header .menu .menu_number div {
    margin: 0 0 10px 0;
  }
  .header .menu_number a {
    color: #7A7A7A;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
  }
  .header .menu_number li {
    color: #7A7A7A;
    background-image: url(../../img/logo/dott.svg);
    background-repeat: no-repeat;
    background-position: center left;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  .header .menu_number {
    margin: 0 0 0 80px;
  }
  .header .menu_telegramm img {
    width: 40px;
    height: 40px;
  }
  .header .menu_instagramm img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
  .info {
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .info br {
    display: none;
  }
  .info_anima .info_udiv h2 {
    font-size: 45px;
    margin: 0 0 25px 0;
  }
  .info_anima .info_udiv p {
    font-size: 14px;
    margin: 0 0 18px 0;
  }
  .info_anima {
    padding: 150px 0 0 0;
  }
  .info_udiv h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
  }
  .info_udiv p {
    font-size: 18px;
  }
  .info_anima_large {
    width: 143px;
    height: 143px;
    margin: -9px 0 0 -36px;
  }
  .info_anima_medium {
    width: 117px;
    height: 117px;
    margin: 10px 0 0 28px;
  }
  .info_anima_small {
    margin: -2px 0 0 81px;
    width: 95px;
    height: 95px;
  }
  .footer {
    height: 307px;
  }
  .footer .footer_adress {
    display: none;
  }
  .footer .footer_mail {
    position: relative;
    top: 250px;
  }
  .menu {
    width: 50%;
  }
  .menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu_telegramm img {
    width: 30px;
    height: 30px;
  }
  .menu_instagramm img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}
@font-face {
  font-family: "OrchideaPro-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../text/OrchideaPro-Medium.woff2") format("woff2"), url("../text/OrchideaPro-Medium.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

.wrapper {
  min-width: 320px;
  min-height: 830px;
  background-image: url("../../img/bg/Главная.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
}

.header {
  height: 110px;
  display: flex;
}
.header .logo {
  width: 50%;
}
.header .menu {
  width: 50%;
}
.header .menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .menu_number {
  display: block;
}

.info {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.info_anima {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info_anima_large {
  position: absolute;
  top: 30%;
  left: 50%;
  animation: rotate-left 6s linear infinite;
}
.info_anima_medium {
  position: absolute;
  top: 50%;
  left: 36%;
  animation: rotate-right 6s linear infinite;
}
.info_anima_small {
  position: absolute;
  top: 38%;
  left: 25%;
  animation: rotate-left 6s linear infinite;
}
@keyframes rotate-right {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
.info_udiv h2 {
  font-family: "OrchideaPro-Medium", sans-serif;
  font-weight: normal;
}
.info_udiv p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.footer {
  color: #7B7B7B;
  text-align: center;
}
.footer a {
  color: #7B7B7B;
}
.footer_adress {
  padding: 50px 0 0 0;
}
.footer_adress_number {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.footer_adress_schedule {
  margin: 0 0 50px 0;
  font-size: 14px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.footer_adress_schedule li {
  list-style: url(../../img/logo/dott.svg);
}
.footer_mail {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
}/*# sourceMappingURL=style.css.map */