@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");
@font-face {
  font-family: "OrchideaPro-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../text/OrchideaPro-Medium.woff2") format("woff2"), url("../text/OrchideaPro-Medium.woff") format("woff");
}/*# sourceMappingURL=text.css.map */